*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    /*positioning the whole content to the center of the screen*/
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
    margin-top: 30px;
    width: 80%;
    border: 2px solid black;
}
.headings{
     font-weight: 60px  ;
     display: flex;
     justify-content: space-around;
     align-items: center;
     border: 2px solid black;
     width: 100%;
     margin: 30px;
}
.headings img{
    height: 30px;
    width: 30px;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 40px;
}
