*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.container{
     display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
    margin-top: 30px;
    width: 80%;
    border: 2px solid black;

    /*positioning the whole content to the center of the screen*/
   }
.headings{
     font-weight: 60px  ;
     display: flex;
     justify-content: space-around;
     align-items: center;
     border: 2px solid black;
     width: 100%;
     margin: 30px;
}
.headings img{
    /*adjusting the width and height of my book icon*/
    height: 30px;
    width: 30px;
    
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 40px;
}

.buttons button{
    width: 115px;
    height: 40px;
    border-radius: 15px;
}
table{
    font-family: sans-serif;
    font-size: 1.0rem;
    border: 2px solid #2F4F4F;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

td, th{
    border: 1px solid #D3D3D3;
    text-align: center;
    padding: 10px 20px;
}


